.ReactModal__Overlay {
    position: static !important;
}

.ReactModal__Content {
    inset: auto !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    /* width: 40rem; */
    /* height: 30rem; */
    overflow: hidden !important;
    background: #2d3748 !important;
    padding: 2rem;
    border-radius: 2.75rem !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 30;
}

.ReactModal__Content::before {
    content: "";
    width: 6rem;
    /* Adjust as needed */
    height: 6rem;
    /* Adjust as needed */
    position: absolute;
    background-color: #9f7aea;
    /* Adjust color */
    border-radius: 9999px;
    /* Rounded full */
    z-index: -10;
    filter: blur(8px);
    /* Adjust blur */
}

.ReactModal__Content::after {
    content: "";
    width: 8rem;
    /* Adjust as needed */
    height: 8rem;
    /* Adjust as needed */
    position: absolute;
    background: #90cdf4 !important;
    /* Adjust color */
    border-radius: 9999px;
    /* Rounded full */
    z-index: -10;
    filter: blur(12px);
    /* Adjust blur */
    top: 2rem;
    /* Adjust top position */
    right: -1.5rem;
    /* Adjust right position */
}



/* Message style */

.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 30rem;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.textMessage {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    /* Cursor */
    /* animation: typeAndDelete 4s steps(11) infinite, blinkCursor 0.5s step-end infinite alternate; */
    animation: typeAndDelete 6s steps(11) infinite, blinkCursor 0.5s;
    margin-top: 1.5em;
}

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {
    0%,
    10% {
        width: 0;
    }
    45%,
    55% {
        width: 13.5em;
    }
    /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}